{% extends 'product/base.html' %}

{% block content %}
    <div class="row">
      <div class="col-lg-12">
        <div class="card-columns">
          
          {% if products %}
            <div class="card-body">
              {% for product in products %}
                {% include 'product/partials/_product_card.html' with i=forloop.counter0 %}
              {% endfor %}
            </div>
          {% else %}

          <div class="not-found center">
            <h1>Nada encontrado 😞</h1>
            <p>Nenhum conteúdo foi encontrado, clique em outro link do nosso blog ou vá para <a href="{% url "product:index" %}">Home</a></p>
          </div>
        {% endif %}

        </div>
      </div>
    </div>
{% endblock content %}